
* { padding:0; margin:0; }

body {color:black; background-color: turquoise;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(./res/pizza_background.jpg);
    
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;

}

h1 {
    color: white;
}

.order_form select {
    display: block;
    margin: auto;
    width: 30em;
    height: 30em;
    border-radius: 2em;
    scrollbar-width: none;
    background-color: #fff1cf;
    text-align-last: center;
    border: none;
}

.order_form select option{
    margin: 0.25em auto auto;
    width: 95%;
    height: fit-content;
    border-radius: 2em;
    text-align: center;
    font-size: 2em;
    background-color: #fff1cf;
    filter: drop-shadow(0 0 0.2rem black);
}

.order_form select::-webkit-scrollbar {
    display: none; 
}

section {
    background-color: #fff1cf;
    margin: 3rem auto;
    border-radius: 2em;
    filter: drop-shadow(0 0 0.6rem black);

}

.speisekarte_section {
    /*float: left;*/
    margin-left: 3rem;
    margin-right: 3rem;
    width: 60rem;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.speisekarte_section h2 {
    flex-basis: 100%;
    margin-bottom: 2em;
}


.wrapAll {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


footer {
    display: none;
    position: absolute;
    bottom:0;
    /*text-align: center;*/
    /*width:100%;*/
    /*height:1em;   */
    color: turquoise;
    grid-area: footer;

}

.warenkorb_section {

    width: 30em;
    padding: 1rem;
    /*float: right;*/
    /*margin-right: 3rem;*/
    
}

img {
    width: 10em;
    height: 10em;
    border-radius: 2em;
    filter: drop-shadow(0 0 0.6rem black);
}

.pizza_showcase{
    height: fit-content;
    width: fit-content;
    border-radius: 2em;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.kundenwrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: none;

}
.order_form p {
    font-weight: bold;
    font-size: 2em;

}
.order_form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}



.order_form input {
    margin-top: 1em;
    width: 10em;
    height: 3em;
    border-radius: 0.5em;
    border-style: double;
    border-color: gray;
}

#adress_input {
    width: 30em;
    height: 2em;
    padding: 0.5em;
}

#redirect_button {
    width: 5em;
    height: 3em;
    border-radius: 0.5em;
    border-style: double;
    border-color: gray;
    font-size: 2em;
    position: fixed;
    top:50%;
    right:10%;
}

#kundenlist{
    overflow: auto;
    width: 40em;
    height: 50em;
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#kundenlist::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.overview_article{
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    height: auto;
    width: 20em;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 2em;
    filter: drop-shadow(0 0 0.6rem black);
}

.baecker_section{
    overflow: auto;
    width: 90em;
    height: 50em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1em;

}

.backing_article{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 1em;

}

.backing_article h2 {
    text-align: left;
    width: 10em;
}





.order_alignment{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.order_alignment article {
    width: 10em;
    height: 10em;
    background-color: white;
    margin-right: 1em;
    border-radius: 2em;
    filter: drop-shadow(0 0 0.6rem black);
}

.order_alignment article input {
  float: right;
  margin-right: 2em;
  margin-left: -2em;
}

.fahrer_section{
    overflow: auto;
    width: 90em;
    height: 50em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 1em;
}

.driver_article{
    width: 20em;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: white;
    margin-right: 1em;
    border-radius: 2em;
    filter: drop-shadow(0 0 0.6rem black);
}

.driver_article form {
    border-top: 0.1em dashed black;
    margin-top: 1em;
    padding: 1em;
}

.driver_article form div{
    margin-bottom: 1em;
}

.driver_article form input {
    float: right;
    margin-right: 7em;
    margin-left: -7em;
}

    @media screen and (max-width: 900px) {
        #kundenlist{
            height: 30em;
        }

        #redirect_button {
            position: relative;
            top: -2em;
            right: 0;
        }

        .warenkorb_section{
            width: 20em;
            height: 35em;
        }
        #adress_input{width: 20em;}
        .warenkorb_section select{
            width: 20em;
            height: 15em;
        }

        img {
            width: 5em;
            height: 5em;
        }


      }


